
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #FBEBB8;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 900px;
  margin: 0 auto;
  border-bottom: 1px solid #bbb;
}

body {
  font-size: 16px;
  font-family: Ubuntu, "Sansita", sans-serif;
  background: "images/bgairplane.jpg";
}

header,
main,
footer {
  max-width: 767px;
  margin: 0 auto;
  border-radius: 10px;
}

h1,
h2,
h3 {
  font-family: "Roboto Condensed", sans-serif;
}

h1 {
  font-size: 1.1rem;
  color: #536878;
  text-align: center;
}
h2 {
  color: #536878;
  text-align: center;
}

p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.5em;
  padding: 10px;
}

.social {
  margin-right: 1.5rem;
  display: flex;
  margin: auto;
}

.social img {
  width: 25px;
  height: auto;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.img {
  display: flex;
  justify-content: center;
}

.headings {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}

#hpart2 {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 10px;
  text-align: center;
}

/*LOGO*/
.logo img {
  width: 150px;
  height: auto;
}
/*NAV*/
nav {
	margin: 0 auto;
	max-width: 760px;
}

nav ul {
  list-style-type: none;
  overflow: hidden;
  border-radius: 10px;
}

.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
  color: #fff;
  text-align: center;
  padding: 0.75rem;
  text-decoration: none;
  font-size: 0.95rem;
  background-color: #32566E;
  transition: 0.5s;
}

.navigation a:nth-child(1):hover{
	background-color: #71A74B;
}

.navigation a:nth-of-type(even){
	background-color: #BD2F2D;
}

.navigation a:hover {
	background-color: #32566E;
  color: #FFFFFF;
}

.responsive li {
	display: block;
}

/*footer css*/

footer {
  color: #373737;
  font-size: 0.6rem;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #FBEBB8;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#fpart2 {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.email,
.phone {
  font-size: 0.7rem;
  padding: 10px;
}

/*Button Airplane*/

